.primaryButton{
    background-color: #f9bc60;
    color: #001e1d ;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    border: none;
    text-decoration: none;
    font-weight:500;
}

.secondaryText{
    color: #5f6c7b;
}

.flexRow{
    display: flex;
    gap: 1rem;
}

.UserLoggedIcon{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 170px;
    height: 50px;
    position: absolute;
    right: 0;
    z-index: 1;
    margin-top: 1rem;
    margin-right:2rem;
    background-color: #e8ecef;
    border-radius: 1.5rem;
}

.title {
  word-wrap: break-word;
  color: #50596c;
  font-weight: 600;
  text-decoration: none; 
}

.logo{
    width: 100px;
    height: auto;
    border-radius: 1rem;
}

.navbar{
    display: flex;
    padding: 1rem;
    padding-left: 1.5rem; 
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    min-height: 100%;
    margin: 0;
    background-color: #e8ecef;
    width: 300px;
}


.AppBarContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.error{
    color: #e16162;
    margin-top: -1px;
    text-align: left;
   
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 70%;
}

input{
    font-size: medium;
    padding: 0.5rem 0.25rem;
    width: 100%;
    border: none;
    border-radius: .2rem;
}

input:focus{
    outline: none;
}

.inputError {
    border: 2px solid #e16162 ;
}

.underscoredGrayLink {
    text-decoration-line: underline;
    color: #5f6c7b;
}

