.primaryButton{
    background-color: #f9bc60;
    color: #001e1d ;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    border: none;
    text-decoration: none;
    font-weight:500;
}

.bold {
    font-weight: bold;
    font-size: 1.1rem;
}

button{
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    border: none;
}
button:hover{
    cursor: pointer;
}

li {
    text-decoration: none;
    list-style-type: none;
    width: 300px;
}

li:hover{
    cursor: pointer;
    color: #e16162;
}

.listSections{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.secondaryText{
    color: #5f6c7b;
}

.flexRow{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.lamina-container{
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 400px;
    gap: 0.5rem;
    padding: 2rem;
    background-color: #3da9fc;
    text-align: center;
}

.UserLoggedIcon{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 170px;
    height: 50px;
    position: absolute;
    right: 0;
    z-index: 1;
    margin-top: 1rem;
    margin-right:2rem;
    background-color: #e8ecef;
    border-radius: 1.5rem;
}

.title {
  word-wrap: break-word;
  color: #50596c;
  font-weight: 600;
  text-decoration: none; 
}

.logo{
    width: 100px;
    height: auto;
    border-radius: 1rem;
}

.navbar{
    display: flex;
    padding: 1rem;
    padding-left: 1.5rem; 
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    min-height: 100%;
    margin: 0;
    background-color: #e8ecef;
    width: 300px;
    position: relative;
}


.AppBarContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.error{
    color: #e16162;
    margin-top: -1px;
    text-align: left;
   
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 70%;
}

input{
    font-size: medium;
    padding: 0.5rem 0.25rem;
    width: 100%;
    border: none;
    border-radius: .2rem;
}

input:focus{
    outline: none;
}

.inputError {
    border: 2px solid #e16162 ;
}

.underscoredGrayLink {
    text-decoration-line: underline;
    color: #5f6c7b;
}

.laminas-grid {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.controller-increase-decrease {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
}

.green-bg{
    background-color: #00ebc7;
}

.red-bg{
    background-color: #ff5470;
}
.drop-down-btn {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-weight: bolder;
    font-size:20px;
    text-align: left;
}


